apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: wealthwatch
resources:
  - ../../base
patches:
  - target:
      kind: Deployment
      name: wealthwatch
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
  - target:
      kind: Ingress
      name: wealthwatch
    patch: |-
      $patch: delete
      apiVersion: networking.k8s.io/v1
      kind: Ingress
      metadata:
        name: wealthwatch
