apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
patches:
  - target:
      kind: Ingress
      name: wealthwatch
    patch: |-
      - op: replace
        path: /spec/ingressClassName
        value: nginx
